{% extends 'base.html' %}
{% block title %} singer Detail {% endblock %}
{% load static %}
{% block content  %}

<!-- singer Detail -->

<div class="detail_main">
    <div class="container-large">
        <div class="container">
            <h1 class="main_title">{{ singer.name }}</h1>
            <div class="singer row singer_detail">
                <div class="singer_detail_container">
                    <div class="singer_main_box">
                        <div class="singer_content row">
                            <div class="col1 col">
                                <div class="detail_img"><img width="500" src="{% if singer.image %}{{ singer.image.url }}{% endif %}" alt="{{ singer.first_name }} {{ singer.last_name }}"></div>
                            </div>
                            <div class="col2 col scroll_effect">
                                <div class="song_detail_">
                                    <div class="">
                                        <h4>Songs</h4>
                                        <div class="detail_singer_box row">
                                            {% for music in singer.music.all %}
                                                <a href="{{ music.get_absolute_url }}" class="detail_mov_act_img">
                                                    <img src="{% if music.image %}{{ music.image.url }}{% endif %}" alt="">
                                                </a>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>
</div>
{% endblock %}