{% extends 'base.html' %}
{% load static %}
{% block title %} Play {% endblock %}
{% block content  %}


    <!-- Site index html -->
    <div class="row singer_container container-fluid">
        <h1 class="title">Singers</h1>

        <div class="serch_singer">
            <form action="" class="search_box">
                <label for=""><strong>Search</strong></label>
                {{ form }}
                {# <input type="search" name="name" id="">#}
                <button class="btn btn-primary">Search</button>
            </form>
        </div>       
        {% for singer in singers %}
        <div class="col-lg-3 col-md-4 col-sm-12">
            <div class="singer_box">
                <div class="singer_image">
                    <a href="{% url 'singer:detail' singer.id %}">
                        <img src="{% if singer.image %}{{ singer.image.url }}{% endif %}" alt="{{singer.first_name}}">
                    </a>
                </div>
                <div class="singer_name"><h3>{{ singer.name }}</h3></div>
            </div>
        </div>
        {% endfor %}

        <nav aria-label="...">
            <ul class="pagination d-flex justify-content-end">
                {% if page_obj.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a>
                </li>
                {% endif %}
                <li class="page-item"><a class="page-link" href="#">{{ page_obj.number }}</a></li>
                {% if page_obj.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a>
                </li>
                {% endif %}
            </ul>
        </nav>
        <dic class="circle"></dic>
    </div>
{% endblock %}


