{% extends 'base.html' %}
{% block title %} signer Detail {% endblock %}
{% load static %}
{% block content  %}

<!-- signer Detail -->

<div class="detail_main">
    <div class="container-large">
        <div class="container">
            <h1 class="main_title">{{ signer.first_name }} {{ signer.last_name }}</h1>
            <div class="signer row signer_detail">
                <div class="signer_detail_container">
                    <div class="signer_main_box">
                        <div class="date_of_birth">
                            <span>Date of birth | {{ signer.date_of_birth }}</span>
                        </div>
                        <div class="signer_content row">
                            <div class="col1 col">
                                <div class="detail_img"><img width="500" src="{% if signer.image %}{{ signer.image.url }}{% endif %}" alt="{{ signer.first_name }} {{ signer.last_name }}"></div>
                            </div>
                            <div class="col2 col scroll_effect">
                                <h3>{{ signer.first_name }} {{ signer.last_name }}</h3>
                                <p>{{ signer.description }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="song_detail_">
                <div class="">
                    <h4>Songs</h4>
                    <div class="detail_signer_box row">
                        {% for music in signer.music.all %}
                            <a href="{{ music.get_absolute_url }}" class="detail_mov_act_img">
                                <img src="{% if music.image %}{{ music.image.url }}{% endif %}" alt="">
                            </a>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}